<doctype html>
<title>New Album - Flask Music Database</title>
<h2>New Album</h2>

{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        {{ render_field(form.buildingName) }}
        {{ render_field(form.address) }}
        {{ render_field(form.l1) }}
        {{ render_field(form.l2) }}
        {{ render_field(form.l3) }}
        {{ render_field(form.flatno) }}
        {{ render_field(form.rent) }}
        {{ render_field(form.area) }}
      
        {{ render_field(form.electricity) }}
        {{ render_field(form.maintain) }}
    </dl>
    <p><input type=submit value=Submit>
</form>